
@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Benne', serif;
  
}
body{
  background-color: #000000;
}